.page {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  padding-top: 20px;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.page__error {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: columnn;
  justify-content: center;
  gap: 12px;
  padding-top: 20px;
}
